src/main/resources/wsdl/balance.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.example.bank_api">
    <xs:element name="getBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
