src/main/resources/wsdl/transfer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.example.bank_api">
    <xs:element name="transferFundsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creditor" type="xs:long"/>
                <xs:element name="debtor" type="xs:long"/>
                <xs:element name="amount" type="xs:double"/>
                <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="transferFundsResponse">
        <xs:complexType/>
    </xs:element>
</xs:schema>
